<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <title>Hello</title>
</head>

<body>
    <div id="registration">
    <input v-model="regUsernameInput" placeholder="Имя пользователя"> </input>
    <br></br>
    <input v-model="regPasswordInput" placeholder="Пароль пользователя"> </input>
    <br></br>
    <button v-on:click="register">{{name}}</button>
    </div>
</body>

<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>

    new Vue({
        el: '#registration',
        data: {
            name: 'Регистрация',
            regUsernameInput: '',
            regPasswordInput: ''
        },
        methods: {
            register: function (event) {
                var username = this.regUsernameInput;
                var password = this.regPasswordInput;
                axios.post("/register", {
                    username: username,
                    password: password
                }).then(function (response) {
                    alert("Done!");
                    console.log(response);
                }).catch(function (error) {
                    alert("Error...");
                    console.log(error);
                });
            }
        }
    })

</script>
</html>